body{
    background-color: #000;
}


#barra{
    position: absolute;
    width: 150px;
    height: 20px;
    background-color: white;
    padding: 0;
    left:47%;

    
}
h1{
    color:aqua;
    text-align: center;
}
h2{
    color:green;
    text-align: center;
}

section{
    height: 75%;
    
}

#pelota{
    width: 30px;
    height: 30px;
    background-color: #fabada;
    border-radius: 50%;
    border-color: black;
    position: absolute;
    border-style: solid;
    top: 80%;
    left:50%;
}
#bloque{
    border: 0 solid;
    background-color: transparent;
    width: 60px;
    height: 40px;
    position: relative;
    top: 5rem;
    left: 8rem;
    box-sizing: border-box;
}